.card-custom {
   width: 20rem;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 4rem;
   /*display: inline-block;*/
   /*max-width: 400px !important;*/
   	display: flex !important;
      justify-content: flex-start;
   border-radius: 25px !important;
}

.react-card-front {
   position : relative !important;
}

.react-card{
      	display: flex !important;
      	justify-content: flex-start !important;
      	padding:10px;
      	margin-right: auto;
         margin-left: auto
      	


}

.card-bottom-custom {
   display: flex;
   position:relative;
   
}

.inline-item {
   display: inline;
   margin: 5px; 
   padding-left: 10px;
}
/* says the margin is invalid but it actually works, dont remove!!!*/
.btn-info {
   /*background-color: #ff8080;*/
   opacity:0;
   position: absolute;
  
  left:120px;
  top: 180px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.card-text{
   overflow: hidden!important;
   text-overflow: ellipsis !important;
}

.img-custom {
   background-color: #FFFFCC;
   object-fit:cover !important;
   border-top-left-radius: 25px !important;
   border-top-right-radius: 25px !important;
   width:318px;
   height:318px;
}
.test{
   position: relative;
}


.test:hover .btn-info{
   
   opacity: 1;
}



.love-button{
   width:30px;
   height:30px;
   position: relative;
   float: right;
   top:-40px;

  
}
