.card-custom {
   width: 16rem;
   margin: 10px auto;
   display: inline-block;
   border-radius: 25px !important;
}

.card-bottom-custom {
   display: inline-block;
}

.inline-item {
   display: inline;
   margin: 5px; 
}
/* says the margin is invalid but it actually works, dont remove!!!*/
.card-button {
   background-color: #ff8080;
}

.card-text{
   overflow: hidden!important;
   text-overflow: ellipsis !important;
}

.img-custom {
   background-color: gray;
   object-fit:cover !important;
   border-radius: 25px !important;
}
