.card-custom {
   width: 20rem;
   margin-right: auto;
   margin-left: auto;
   margin-bottom: 4rem;
   /*display: inline-block;*/
   /*max-width: 400px !important;*/
   	display: flex !important;
      justify-content: flex-start;
   border-radius: 25px !important;
}



.card-bottom-custom {
   display: flex;
   position:relative;
   
}

.inline-item {
   display: inline;
   margin: 5px; 
   padding-left: 110px;
}
/* says the margin is invalid but it actually works, dont remove!!!*/
.card-button {
   background-color: #ff8080;
}

.card-text{
   overflow: hidden!important;
   text-overflow: ellipsis !important;
}

.img-custom {
   background-color: #FFFFCC;
   object-fit:cover !important;
   border-top-left-radius: 25px !important;
   border-top-right-radius: 25px !important;
   width:318px;
   height:318px;
}

.like-button{
   width:30px;
   height:30px;
   position: absolute;
    bottom:95px;
    right: -10px;
  
}
