/*  we need to use !important for now because the bootstrap css file uses !important
   eventually we will figure out how to edit the bootstrap css but for now this is a shitty/sufficient alternative
*/

.navbar-custom {
   background-color: #ff8080 !important;
}

.navbar-spacer {
   margin-right: 1%;
   clear: both;
}
.navbar-bar {
   float: left;
}

.navbar-search {
   float: right;
}

.nav-hide{
   visibility: hidden !important;
}