.img-dropdown {
  
  height: 150px;
  max-width: 250px;
}

.form-inline{
      padding-top: 20px;
      margin-left: 40%;
      
}
.mr-sm-2  {
    border-radius: 30px !important;
}
.my-sm-0{
  border-radius:30px !important;
}

.col-md-2{
  margin-top: 100px;
  color: black;

}

.title {
  justify-content:center !important;
  padding-top: 50px;
  color: red !important;
}

.expand {
  /*erase the 'height' and 'overflow' rules*/
  display: none;
  
  
}

.sub{
   display: flex;
  max-width: 225px;
  justify-content:space-between;

}

.Collapsible__contentOuter{
      width: 100% !important;
}

.flex-container {
  display: inline-flex !important;
  margin-top: 20px;
}

#toggle{
  display: none !important;
  visibility: collapse !important;
}

/*.transportation-collapsible{
  background-color: #ffff00;
}
*/
