.img-dropdown {
  
  height: 150px;
  max-width: 250px;
}

.img-dropdown{
    margin-left:15px !important;
    margin-right:15px !important;
    margin-top:15px !important;
    display:flex;
	  flex-direction:column;
}

.form-inline{
      padding-top: 20px;
      margin-left: 40%;
      
}
.mr-sm-2  {
    border-radius: 30px !important;
}
.my-sm-0{
  border-radius:30px !important;
}

.col-md-2{
  margin-top: 100px;
  color: black;

}

.top-marge {
  margin-top: 100px;
  z-index: 1000;
}

.booksDropdownPosition {
  
}

.title {
  justify-content:center !important;
  padding-top: 50px;
  color: red !important;
}

.expand {
  /*erase the 'height' and 'overflow' rules*/
  display: none;
  
  
}

.sub{
   display: flex;
  max-width: 225px;
  justify-content:space-between;

}

.Collapsible__contentOuter{
      width: 100% !important;
}

.flex-container {
  display: inline-flex !important;
  border-radius: 20px !important;
  margin-top: 20px;
}

#toggle{
  display: none !important;
  visibility: collapse !important;
}

.clothing logo {
  
}

.transportation-cat{
  background-color: #3EE0B7;
}

.clothing-cat{
  background-color: #ffd9df	
}
/*.transportation-collapsible{*/
/*  background-color: #ffff00 !important;*/
/*}*/

